@media (max-width: 768px) {
    .m-hide{
        display: none;
    }
    .row {
        margin: 0;
    }
    .col-xs-4 {
        width: 100%;
        padding: 10px 0;
    }
    header {
        padding-bottom: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
        height: 80px;
    }
    header .width-limiter {
        width: 100%;
    }
    header h1 {
        padding-top: 0;
        display: table;
    }
    header h1 a {
        display: table-cell;
        width: 100%;
        padding-left: 10px;
        height: 80px;
        line-height: 80px;
        text-align: left;
        vertical-align: middle;
    }
    header h1 img {
        display: inline;
        vertical-align: middle;
        max-width: calc(100% - 100px);
    }
    header nav {
        margin-top: 0;
        position: absolute;
        top: 80px;
        width: 100%;
        z-index: 99999;
    }
    header nav .switch {
        position: absolute;
        width: 50px;
        height: 50px;
        /* margin-top: 15px; */
        /* margin-bottom: 15px; */
        background-image: url(/images/switch.png);
        /* float: right; */
        padding: 30px 0 0 0;
        /* box-sizing: border-box; */
        text-align: center;
        text-decoration: none;
        /* color: #333333; */
        display: block;
        top: -65px;
        right: 0;
    }
    header nav .menu {
        clear: both;
        position: relative;
        z-index: 99999;
        width: 100%;
        display: none;
        float: none;
    }
    header nav .menu>li {
        float: none;
        margin: 0;
        width: 100%;
        background-color: #ffffff;
        border-bottom: 1px solid gray;
        padding: 0 1em;
    }
    header nav a {
        padding-top: 1em;
        padding-bottom: 1em;
    }
    header nav .menu>li>a {
        height: auto;
    }
    header nav a span {
        font-size: 16px;
        text-transform: uppercase;
        line-height: 2em;
    }
    header nav li a .bar {
        position: absolute;
        bottom: -1px;
    }
    header nav>ul>li>.submenu {
        padding: 0;
        position: static;
    }
    header nav .submenu .leftside {
        width: 100%;
    }
    header nav .submenu .leftside>ul {
        width: auto;
    }
    header nav .submenu .leftside .submenu {
        position: static;
        width: auto;
        height: auto;
    }
    header nav .submenu .rightside {
        display: none;
    }
    header nav .lng {
        float: none;
        clear: both;
        display: none;
    }
    header nav .lng>a {
        width: 100%;
    }
    header .lng .lng-menu {
        width: 100%;
        position: static;
    }
    .social{
        display: none;
    }
    main {
        margin-top: 80px;
    }
    main>div:first-child{
    	margin-top: 75px!important;
    }
    .block-categories li {
        width: 50%;
    }
    .prod .intro-bar {
        /*padding: 5px;*/
        width: 100%;
    }
    .intro-bar h3 .short-intro {
        margin-right: 1em;
    }
    .intro-bar .btn-detail {
        float: none;
        position: absolute;
        right: 10px;
        top: 10px;
    }
    .intro-bar h3 {}
    .intro-bar a {
        font-size: 13px;
    }
    .intro-bar .btn-sp {
        margin-top: 10px;
        width: calc(100% + 10px);
        margin-left: -5px;
    }
    .intro-bar .btn-sp a {
        width: calc(50% - 10px);
        margin: 0 5px;
    }
    .prod-intro .content {
        padding: 0 2.5%;
    }
    .prod .main-intro {
        width: 100%;
        margin-bottom: 10px;
    }
    .prod .main-intro .intro-wrap {
        padding-bottom: 5px;
        border-bottom: 1px solid silver;
    }
    .prod .text {
        padding: 0 3%;
    }
    .prod .brief-intro {
        margin-bottom: 20px;
    }
    .prod .brief-intro .text {
        line-height: 1.5;
    }
    .prod .brief-intro .text h4 {
        font-size: 13px;
    }
    .prod .brief-intro .text p {
        font-size: 12px;
    }
    .prod .grid .text {
        font-size: 12px;
        padding: 0;
        line-height: 1.25em;
    }
    .prod .dk .img {
        /* float: left; */
        /* width: 40%; */
    }
    .prod .dk .img img {
        opacity: 1;
    }
    .prod .dk .text {
        width: 60%;
        float: left;
        color: #000000;
        position: static;
        text-align: left;
    }
    .prod .main-intro .text h4 {
        font-size: 13px;
    }
    .prod .main-intro .text p {
        font-size: 12px;
        line-height: 1.5em;
    }
    .col-33 {
        width: 100%;
    }
    .col-66.grid {
        width: 100%;
    }
    .grid .spl-33 li {
        width: 50%;
    }
    .overlay .overlay-container {
        padding: 5px;
        width: 100%!important;
        max-height: 100%;
        max-width: 100%!important;
    }
    .overlay h3 {
        width: calc(100% - 30px);
        font-size: 16px;
        line-height: 30px;
    }
    .overlay .content {
        font-size: 15px;
        /*max-height: 420px;*/
    }
    .overlay .btn-close {
        width: 30px;
        height: 30px;
    }
    .block-figure .onimg.text {
        position: static;
        padding: 0.5em;
        background-color: #999999;
        text-shadow: none;
    }
    .block-figure .text h2 {
        font-size: 18px;
    }
    .block-figure .text p {
        font-size: 15px;
    }
    .prod-intro .row-container {
        padding: 5% 2.5%;
    }
    .prod-intro h3 {
        font-size: 18px;
    }
    .prod-intro .items a .img:after {
        display: none;
    }
    .prod-intro .items a:hover .text,
    .prod-intro .items a:hover .img:after {
        opacity: 1;
    }
    .prod-intro .items a .text{
        position: static;
        display: block;
        padding: 5%;
        background-color: #eeeeee;
    }
    .prod-intro .items a .text .intro{
        display: block;
    }
    .image-show {
        float: none;
        width: 100%!important;
        margin: 0 auto;
        padding: 0 2.5%;
        margin-bottom: 20px;
    }
    .prod-intro .image-show .slides {
        max-width: 100%;
    }
    .prod-intro .main-intro .intro-text {
        float: none;
        width: 100%;
        padding: 0 2.5%;
        margin: 0;
        text-align: center;
    }
    .prod-intro .content .gallery li{
    	width: 50%;
    }
    .overlay .content .spec {
        width: 100%;
        float: none;
    }
    .backtop {
        margin-right: 10px;
    }
}
