.slider{
	position: absolute;
	box-sizing:border-box;
	width: 100%;
	overflow: hidden;
	height: 100%;
	padding: 5px;
	float: left;
}
.slider>.img{
	overflow: hidden;
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0 auto;
}
.slider>.img>li{
	position: absolute;
	width: 100%;
	opacity: 0;
}
.slider>.img>li.active{
	z-index: 9999!important;
}
.pager{
	position: absolute;
	bottom: 13px;
	right: 20px;
	z-index: 9999;
}
.pager li{
	float: left;
	margin: 0 2px;
}
.pager a{
	display: block;
	width: 10px;
	height: 10px;
	background-color: #ccc;
	//border: 2px solid transparent;
	border-radius: 10px;
	margin: 2px;
}
.pager .active a{
	background-color: #666;
	border: 2px solid #ccc;
	margin: 0;
}