.slider{
	position: relative;
	box-sizing:border-box;
	width: calc(100% - 5px);
	overflow: hidden;
	height: 100%;
	padding: 5px;
	float: left;
}
.slider>.img{
	overflow: hidden;
	position: absolute;
	width: 100%;
	height: 100%;
	margin: 0 auto;
}
.slider>.img>li{
	position: absolute;
	width: 100%;
	opacity: 0;
}
.slider>.img>li.active{
	z-index: 9999!important;
}
.slider>.img>li .prod{
	position: absolute;
	background-color: rgba(0,0,0,0.5);
	bottom: 20px;
	left: 20px;
	width: 20%;
	padding: 0 1em;
	font-size: 24px;
	color: #ffffff;
	line-height: 2em;
}
.pager{
	position: absolute;
	bottom: 0;
	right: 20px;
	z-index: 9999;
}
.pager li{
	float: left;
	margin: 0 2px;
}
.pager li a{
	display: block;
	width: 10px;
	height: 10px;
	background-color: #ccc;
	//
	border: 2px solid transparent;
	border-radius: 10px;
	margin: 2px;
	padding: 0;
	border: none;
	box-sizing: content-box;
}
.pager .active a{
	background-color: #666;
	border: 2px solid #ccc;
	margin: 0;
}
.brief-intro .slider{
	padding: 0;
}
.brief-intro .pager{
	display: none;
}